-- Mini projet sur 'Data processing using Pandas'
-- Etudiant : Abdoul Daouda Aziz ILBOUDO
-- Enseignant : M KAFANDO Rodrigue

In [4]:
# importation de la librairie 'Pandas'
import pandas as pd

In [5]:
# Les données et le code sont dans ce répertoire 'C:\Users\INSD\MiniProjetPandas'.
bfLocation = pd.read_csv('burkina_location.csv.csv', header=0, encoding="latin-1")

# le nom du fichier est 'burkina_location.csv'. l'autre '.csv' précise l'extension.

#la précision du type d'encodage est très importante pour gérer les caractères accentués

In [9]:
bfLocation.head()

        ID location_name       lat     long
0  2353158      Zyonguen  12.36667 -0.45000
1  2353159     Zyiliwèlè  12.38333 -2.73333
2  2353160        Zyanko  12.78333 -0.41667
3  2353161         Zouta  13.14908 -1.28197
4  2353162     Zourtenga  12.95741 -1.28745

In [14]:
# Extraire les données contenant le nom 'gounghin'
gounghin=bfLocation[bfLocation['location_name'] == 'Gounghin']

In [15]:
gounghin.head()

             ID location_name       lat     long
147     2353306      Gounghin  12.06677 -1.42134
7256    2360473      Gounghin  12.62488 -1.36398
10227   2570204      Gounghin  12.31436 -1.37900
10688  10342749      Gounghin  12.06667 -0.15000
10808  11900680      Gounghin  12.35895 -1.54442

In [16]:

# Enregistrez-le sous le fichier 'gounghin.csv'.
gounghin.to_csv('gounghin.csv')

In [47]:
# sauvegarde du fichier trier dans un data frame
bfLocationTri=bfLocation.sort_values(by = 'location_name')


# Création d'une colonne (avec ajout) qui contient l'initial du nom de la localité
bfLocationTri['location_name_Initial']=bfLocationTri['location_name'].astype(str).str[0]

In [53]:
import string
# Liste des lettres de 'A' à 'P'
list(string.ascii_uppercase[0:16])

# création d'un masque qui identifie les localités dont l'initial est entre 'A' et 'P'
mask=bfLocationTri['location_name_Initial'].astype(str).isin(list(string.ascii_uppercase[0:16]))

In [56]:
# sauvegarge du fichier
bfLocation_A_to_P=bfLocationTri[mask]
# Enregistrez-le sous le fichier 'bfLocation_A_to_P.csv'.
bfLocation_A_to_P.to_csv('bfLocation_A_to_P.csv')

In [57]:
# latitude minimale nom de la localité
bfLocation.nsmallest(1,'lat')

             ID location_name     lat    long
11149  12224995  Fadio-Mèpèhn  9.4295 -2.7775

In [58]:
# longitude minimale nom de la localité
bfLocation.nsmallest(1,'long')

           ID location_name    lat     long
1255  2354426      Tinobolé  10.75 -5.48333

In [63]:
# lieux dont les coordonnées sont comprises entre (lat >= 11 et lon<= 0.5)
# création de masques
tmp1=bfLocation['lat']>= 11
tmp2=bfLocation['long']<= 0.5

# affichage du résultat
bfLocation[tmp1 & tmp2].head()